.value {
  margin: .9375rem 0;
  padding: .9325rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, .1);
}

.value__title {
  margin: 0 0 .625rem;
  font-weight: 600;
  color: hsl(0, 0%, 26.5%);
}

.value__subtitle {
  margin: .625rem 0;
  color: hsl(0, 0%, 60%);
}

.value__container {
  color: hsl(0, 0%, 60%);
}
